body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
    line-height: 1.17;
}

.logo-footer {
    color: #f4f4fd;
    line-height: 1.17;
}

.nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-weight: 400;
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.img-hero {
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 1440px;
    background-size: cover;
    background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/hero-img.jpg);
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

button:hover,
button:focus {
    background-color: #404bbf;
}

.button-servise {
    color: #fff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.name-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.section-text {
    padding: 120px 0
}

.section-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.page-text {
    background-color: #FFFFFF;
}

.portfolio-text {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-h {
    text-transform: capitalize;
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.onetext {
    line-height: 1.2;
}

.business-h {
    line-height: 1.07;
    max-width: 496px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    margin: 0 auto 48px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.contacts-list {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.two-container {
    display: flex;
    align-items: center;

}

.two-list {
    display: flex;
    align-items: baseline;
    gap: 24px;

}

.team-p {
    display: flex;
    align-items: center;
    gap: 24px;
}

.portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.prtf-l {
    border-bottom: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-l:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prtf-l:hover .img-port-p {
    opacity: 1;
    transform: translateY(0);
}

.logo-footer-osn {
    display: inline-block;
    align-items: center;
    margin-bottom: 16px;
}

img {
    display: block;
}

.two-p {
    width: calc((100% - 72px) / 4);
}

.team-div {
    padding: 32px 0;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.port-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.icon-two {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.menu-icon-footer {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 16px;
}

.social-link {
    display: flex;
    align-items: baseline;
    gap: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}

.link-icon:hover,
.link-icon:focus {
    background-color: #404bbf;
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
    background-color: #31d0aa;
}

.social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}


.img-port {
    position: relative;
    overflow: hidden;
}

.img-port-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-li:hover .img-port-p {
    transform: translateY(0%);
}

.prtf-li:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.people {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-footer {
    margin-right: 120px;
}

.text-sub-f {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.input-f {
    background-color: transparent;
    border: none;
    outline: none;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input-f::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.modal-form-label {
    margin-bottom: 8px;
}

.box-input {
    margin-bottom: 16px
}

.btn-sub-f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.btn-sub-f:hover,
.btn-sub-f:focus {
    border: none;
    background-color: #404BBF;
}

.icon-footer-sub {
    fill: #fff;
    margin-left: 16px;
}

.sub-div {
    margin-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.backdrop {
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 72px 24px 24px 24px;
    width: 100%;
    margin-bottom: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0;
    pointer-events: none;  */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    min-height: 584px;
    max-width: 408px;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
    position: absolute;
    border: 1px solid #212121;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-one {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

label {
    flex-direction: column;
    margin-bottom: 4px;
}

.name-label {
    font-weight: 400;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.label-cont {
    position: relative;
}

.icon-label {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.icon-label {
    fill: #4d5ae5;
}

.icon-checkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn-form {
    position: absolute;
    padding: 0;
    display: flex;
    border-radius: 50%;
    line-height: 0;
    right: 24px;
    align-items: center;
    justify-content: center;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    stroke-width: 1px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
    fill: #fff;
    border: none;
}

.close-btn-form:hover,
.close-btn-form:focus {
    fill: #ffffff;
    border: none;
}

.form-textarea {
    resize: none;
    width: 360px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea:focus {
    border-color: #4D5AE5;
}

.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    font-weight: 400;
}

.custom-checkbox {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.checkbox:checked+.label-checkbox>.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.label-checkbox {
    cursor: pointer;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: #8e8f99;
    align-items: center;
}

.privacy-policy {
    color: #4d5ae5;
    letter-spacing: 0, 04em;
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.form-btn {
    display: block;
    gap: 10px;
    align-self: flex-start;
    border-radius: 4px;
    margin: 0 auto;
    min-width: 169px;
    cursor: pointer;
    height: 56px;
    font: 500 16px / 1.5 "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
    border: none;
}